.dropdown{
    margin: 5px 0 1rem 0;
    width: 300px ;
    text-align: left;
    padding: 2px 1px ; 
    background:linear-gradient(transparent, rgba(196, 194, 194, 0.911));
}

::placeholder{
    padding-left: 7px;
}
